.header-general {
  background-color: #D487DE;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-general__titulo {
  font-family: "Mochiy pop one", sans-serif;
  font-size: 45px;
  margin-top: 5px;
  padding: 5px;
  color: #50315E;
  text-shadow: 3px 3px 2px rgb(150, 122, 205);
}
.header-general nav a {
  text-decoration: none;
  font-family: "Saira", sans-serif;
  color: #50315E;
}
.header-general nav a ul {
  list-style: none;
  display: flex;
}
.header-general nav a ul li {
  margin: 6px;
  padding: 5px;
  border: 15px;
  background-color: #D487DE;
}

@media (min-width: 1200px) {
  .header-general .navbar-collapse .navbar-nav .nav-link:hover {
    background-color: #ebb6f1;
    font-size: 35px;
    text-shadow: 3px 3px 2px rgb(150, 122, 205);
  }
  .footer-general .barra-footer ul i:hover {
    size: 50px;
    color: rgb(150, 122, 205);
  }
}
.barra-footer {
  background-color: #D487DE;
  font-family: "Saira", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding-top: 20px;
}
.barra-footer ul i {
  font-size: 30px;
  margin: 13px;
}

.boton, .boton-formulario {
  background: linear-gradient(90deg, hsl(31deg, 90%, 76%) 0%, hsl(302deg, 82%, 76%) 100%);
  border: rgba(187, 127, 255, 0.644) 2px solid;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.58);
}

.boton-formulario {
  background: linear-gradient(90deg, hsl(221deg, 59%, 75%) 0%, hsl(216deg, 40%, 58%) 100%);
  color: #50315E;
  text-decoration-style: solid;
}

.portada {
  width: 100%;
  height: 70vh;
  background-image: url(../../img/portadaperros-redimensionado.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.tarjeta {
  height: 350px;
  margin: 20px;
  padding: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.tarjeta__titulo {
  font-size: 20px;
  font-family: "Saira", sans-serif;
  margin-bottom: 10px;
}
.tarjeta__descripcion {
  font-size: 1em;
  font-family: "Saira", sans-serif;
  text-align: left;
}

.titulo-halloween {
  background-color: #D487DE;
  color: #50315E;
  text-shadow: 3px 3px 2px rgb(150, 122, 205);
}

h2 {
  font-family: "Saira", sans-serif;
  text-align: center;
  text-shadow: 3px 3px 2px rgb(205, 177, 201);
}

@media (max-width: 575px) {
  .img-alt1 {
    height: 55%;
  }
  .img-alt2 {
    height: 55%;
  }
}
@media (min-width: 1200px) {
  .img-alt1 {
    height: 60%;
  }
  .img-alt2 {
    height: 60%;
  }
}
.fondo {
  background-color: #D487DE;
}
.fondo-titulo {
  background-color: #AD4DB0;
}

.form-label {
  color: #50315E;
  font-weight: bold;
}
.form-check .form-check-label {
  font-weight: 500;
  color: #50315E;
}

.titulo-legend2 {
  color: #50315E;
  font-weight: bold;
}

.input-group-text {
  color: #50315E;
  font-weight: 700;
}

.portada-nosotros {
  height: 85vh;
  background: wheat url(../../img/nosotros-redimensionado.jpg) center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.portada-nosotros h2 {
  text-align: center;
  color: rgb(97, 29, 185);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  background-color: rgba(240, 248, 255, 0.521);
}

.emprendimiento {
  background-color: bisque;
  padding: 5px;
  align-items: center;
}
.emprendimiento__texto {
  margin: 20px;
  font-family: "Saira", sans-serif;
  text-align: start;
}

.slide img {
  height: 80vh;
  width: 100%;
  position: relative;
}

.titulo-servi-pelu {
  text-align: center;
  background-color: #E8D4F4;
}

.estilo-de-texto {
  font-family: "Saira", sans-serif;
  text-align: center;
}

.borde-card-veterinarios {
  border-color: #50315E;
  border-style: solid;
  border-width: 2px;
}

.card-img {
  height: 85vh;
}

/*# sourceMappingURL=style.css.map */
