
   .titulo-servi-pelu{
   text-align: center;
   background-color:#E8D4F4 ;
   }
   
   @mixin texto-de-lista {
      font-family: $font-princial;
      text-align: center;
   }
   .estilo-de-texto{
   @include texto-de-lista;
   }